.error {
    color: red;
    margin-bottom: 0;
}

.name-error {
    display: none;
}

.email-error {
    display: none;
}

.password-error {
    display: none;
}

.repeatPassword-error {
    display: none;
}